<?xml version="1.0" encoding="UTF-8"?>
<!-- p.50 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="samsungTV" class="kr.ac.mjc.sungbin.spring.day1.class02.SamsungTV" />
	<bean id="lgTV" class="kr.ac.mjc.sungbin.spring.day1.class02.LgTV" />

</beans>